.app-container {

    width: 256px;
    margin-bottom: 30px;
}

.error {

    height: 32px;
    color: #ec0000;
}

.calculator__row {

    display: flex;

    flex-wrap: wrap;
}

.calculator__display {

    box-sizing: border-box;
    font-size: 24px;
    text-align: right;
    padding: 6px;
    margin: 8px;
    width: 240px;
    border: none;
}

.calculator__number,
.calculator__operator,
.calculator__other {

    box-sizing: border-box;
    display: flex;
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin: 8px;
    cursor: pointer;
    outline: none;
    border: 1px #cccccc solid;
    font-size: 16px;
    text-align: center;
}

.calculator__number:hover,
.calculator__operator:hover,
.calculator__other:hover {

    background-color: #008906;
    color: white;
    border: none;
}

.calculator__operator {

    background-color: #ec0000;
    color: white;
    border: none;
}
